<div class="content">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="row">
            <div class="col s12 m12">
              <h3>Results</h3>
              <h5><%= @correct %> coorect questions of <%= @total %> questions <%= @score %> %</h5>
            </div>
          </div>
        
          <div class="row">
            <div class="col s12 m12">
                <%= link_to "Let's try again!", root_path , :class => "waves-effect waves-light btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% content_for(:title) do %>
  Results
<% end %>

</div>